<%- include('partials/boilerplate')%>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="users/signup"> Sign Up?</a></li>
                <li><a href="/users/login">Log In!</a></li>
            </ul>
        </nav>
    </header>
    <h1>PachelBook &copy;</h1>

</body>
</html>