<%- include('../partials/boilerplate') %>
<body>
    <h1> Sign Up!</h1>
    <form action ="/users" method ="POST">
        <label for="username"> Username:</label>
        <input type="text" name="username" id="username">
        <label for="email"> Email:</label>
        <input type="text" name="email" id="email">
        <label for="password"> Password:</label>
        <input type="password" name="password" id="password"> 
        <label for="aboutMe"> About Me:</label>
        <input type="text" name="aboutMe" id="aboutMe">
        <label for="img"> Image:</label>
        <input type="text" name="img" id="img">
        <input type="submit" name= "" value="Sign Up!">
    </form>

</body>
</html>